[submodule "contracts/lib/v3-core"]
	path = contracts/lib/v3-core
	url = https://github.com/uniswap/v3-core
	branch = main
[submodule "contracts/lib/hardhat"]
	path = contracts/lib/hardhat
	url = https://github.com/nomiclabs/hardhat
	branch = 2.9.2
